
<mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
<nav aria-label="Breadcrumb">
    <ol role="list" class="py-10 max-w-7xl mx-auto px-6 flex items-center space-x-2  lg:px-8">
      <li>
        <div class="flex items-center">
          <a [routerLink]="['/properties']" class="mr-2 text-sm font-medium text-gray-900">
            Properties
          </a>
          <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-5 text-gray-300">
            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
          </svg>
        </div>
      </li>

      <li>
        <div class="flex items-center">
          <a [routerLink]="['/property', homeIdFromParam]" class="mr-2 text-sm font-medium text-gray-900">
            Rooms
          </a>
          <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-5 text-gray-300">
            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
          </svg>
        </div>
      </li>

      <li class="text-sm">
        <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">
          Devices - Sensors
        </a>
      </li>
    </ol>
</nav>

<div class="max-w-7xl mx-auto pb-10 md:pb-10 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-8 ">
        <div
            class="relative z-10 col-start-1 row-start-1 px-6 lg:px-8 pt-60 sm:pt-0  pb-3 bg-gradient-to-t from-black sm:bg-none">
            <!-- <p class="text-sm font-display font-medium text-white sm:mb-1 sm:text-gray-500">Farm House</p> -->
            <h2 class="text-xl font-bold text-white sm:text-3xl sm:leading-7 sm:text-gray-900 md:text-6xl">{{room?.name}}</h2>
        </div>
        <div class="col-start-1 row-start-2 sm:pb-16 px-6 lg:px-8">
            <div class="flex items-center text-sm font-medium my-5 sm:mt-2 sm:mb-4">
                <!-- <span class="text-gray-800 text-sm">Turn on/off</span> -->
                <!-- <div class="ml-1">
                    <span class="text-black">4.94</span>
                    <span class="sm:hidden md:inline">(128)</span>
                </div> -->
                <div class="grid grid-cols-2 gap-4">

                  <!-- Active: "ring-2 ring-indigo-500" -->
                  <label 
                    class="ring-2 ring-indigo-500 border-indigo-500 group border relative rounded-md p-2 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1  bg-white shadow-sm text-gray-900 cursor-pointer">
                    <input type="radio" name="size-choice" value="XS" class="sr-only" aria-labelledby="size-choice-1-label">
                    <p class="text-gray-500">
                      ON
                    </p>
          
                    <!--
                            Active: "border", Not Active: "border-2"
                            Checked: "border-indigo-500", Not Checked: "border-transparent"
                            -->
                    <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true">
                    </div>
                  </label>
          
                  <!-- Active: "ring-2 ring-indigo-500" -->
                  <label
                    class=" group border relative rounded-md 2 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1  bg-white shadow-sm text-gray-900 cursor-pointer">
                    <input type="radio" name="size-choice" value="S" class="sr-only" aria-labelledby="size-choice-2-label">
                    <p class="text-gray-500">
                      OFF
                    </p>
          
                    <!--
                            Active: "border", Not Active: "border-2"
                            Checked: "border-indigo-500", Not Checked: "border-transparent"
                             -->
                    <div class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true">
                    </div>
                  </label>
          
                </div>
            </div>
            <hr class="w-16 border-gray-300 hidden sm:block">
        </div>
 
        <div class="col-start-1 row-start-1 flex sm:col-start-2 md:px-6 lg:px-8 sm:row-span-3">
            <div class="w-full grid grid-cols-1 grid-rows-1">
                <div class="relative">
                    <img [src]="getUrl(room.image)" alt="Room Image"
                        class="absolute inset-0 w-full h-full object-cover bg-gray-100 sm:rounded-lg" />
                </div>
            </div>
        </div>

    </div>

    <div class="px-4 sm:px-8 sm:py-12 md:py-16">
        
        <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 gap-y-3 lg:grid-cols-3 xl:gap-x-8 mb-10 md:mb-0 md:mr-10">

        <!-- Cards goes here -->
        <app-single-device *ngFor="let device of devices"
        [state] ="device.state"
        [voltage] = "device.voltage"
        [extra] = "device.extra"
        [icon] = "device.icon"
        [name] = "device.name"
        [color] = "device.color"
        ></app-single-device>

    </div>

    </div>

</div>
<button [routerLink]="['/addRoom', homeIdFromParam]"
  class="flex items-center justify-center shadow-md fixed  h-14 w-14 bottom-4 right-4 transition ease-in duration-200 uppercase rounded-full bg-gray-700 hover:bg-gray-900 text-white focus:outline-none">
  <span class="material-icons text-white text-3xl shadow-inner">add</span>
</button>