<div class="wrapper overflow-hidden">
    <div class="myeffect px-6 py-16 max-w-xl">
        <div class="flex flex-col">
            <div class="text-6xl font-extrabold text-white font-sans" style="text-shadow: 3px 3px 3px rgb(0 0 0 / 24%), 0px 0px 1px rgb(1 0 5 / 10%);" >Welcome</div>
            <span class="font-medium text-white text-right text-md" style="text-shadow: 1px 1px 3px rgb(0 0 0 / 44%), 0px 0px 1px rgb(1 0 5 / 10%);">to SmartHome</span>
        </div>
        <p style="text-shadow: 3px 3px 7px rgb(0 0 0 / 24%), 0px 0px 1px rgb(1 0 5 / 10%);" class="text-md text-gray-100 font-light mt-8">You have successfuly signup, lets create your smarthome</p>
    </div>
</div>